sphinx
jupytext
jupyter
pyvista[all]>=0.45.0
vtk>=9.5.0
trame-vuetify
ipywidgets
fenicsx-pulse[demo]
sphinx-codeautolink
sphinx-copybutton
sphinx-codeautolink
sphinx-togglebutton
sphinx-comments
sphinx-external-toc
linkify-it-py
sphinx-design
sphinx-book-theme
myst-nb
sphinx-multitoc-numbering